.menuList{
  display: inline-flex;
  flex-direction: column;
  width: 16%;
  margin-left: 25px;
  border: 4px solid #ccc;
}
.menuList img{
  width: 109px;
  height: 100px;
  margin-left: 25px;
}
.menuList h3 {
  text-align: center;
}
.menuList p {
  text-align: center;
}
.boxPrice{
  text-align: center;
  border: 1px solid #ccc;
  width: 195px;
  margin-left: 39%;
  margin-top: 20px;
}
form{
  display: flex;
  flex-direction: column;
}